*{
  margin:0; padding:0;box-sizing: border-box;
}


.Hb{
  background:red;
  color: white ;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size:90px;
  text-align: center;
  border: solid black 5px;
/*  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;*/
  box-shadow:10px 10px 20px #D362DB;
  margin: 5px;
  /*text-shadow: 12px 14px 8px #1DF6C3;*/
  animation: Age 2s ease-in infinite alternate;
}



.Name{
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.Raja, .Rani{
  background: red;
  font-size: 250px;
 /* margin-left: 25px;*/
 /*position: relative;*/
 

  text-align: center;
  justify-content: center;
}


.Images img{/*
  background-image: url('Raja-rani.png') 20px 20px;
  background-size: cover;

  */
width: 100vw;

}

.A{
  border: solid 5px black;
}

.social{
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.social a{
  background-color: black;
  font-size: 42px;
   text-decoration: none;
   color:white;
   border: solid #1DF6C3 5px;
   border-radius: 10px;
   padding: 13px;
   -webkit-text-stroke-width: 2px;
   transition: all 1.5s ease-in 1 alternate;
}

.social a:hover{
  color: white;
  
}

.fb{
  width: 50vw;
  text-align: right;
  position: relative;
  right: 15px;
  
}


.fb a:hover{
  background: white;
  color: blue;
}

.insta{
  width: 50vw;
  position: relative;
  left:15px;
  align-items: center;
 
  
}

.insta a:hover{
 
  background: white;
  
  color: #E327DF;
}

@keyframes Age {
  from{
    font-size: 26px;
  }
  to{
    font-size: 46px;
  }
}
