*{
  margin:0; padding:0;box-sizing: border-box;
}

html{
  font-size:62.5%;
  }


.Hb{
  background:red;
  color: white ;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size:9rem;
  text-align: center;
  border: solid black .5rem;
/*  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;*/
  box-shadow:1rem 1rem 2rem #D362DB;
  margin: .5rem;
  /*text-shadow: 12px 14px 8px #1DF6C3;*/
  animation: Age 2s ease-in infinite alternate;
}



.Name{
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.Raja, .Rani{
  background: red;
  font-size: 25rem;
 /* margin-left: 25px;*/
 /*position: relative;*/
 

  text-align: center;
  justify-content: center;
}


.Images img{/*
  background-image: url('Raja-rani.png') 20px 20px;
  background-size: cover;

  */
width: 100vw;

}

.A{
  border: solid .5rem black;
}

.social{
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.social a{
  background-color: black;
  font-size: 4.2rem;
   text-decoration: none;
   color:white;
   border: solid #1DF6C3 .5rem;
   border-radius: 1rem;
   padding: 1.3rem;
   -webkit-text-stroke-width: .2rem;
   transition: all 1.5s ease-in 1 alternate;
}

.social a:hover{
  color: white;
  
}

.fb{
  width: 50vw;
  text-align: right;
  position: relative;
  right: 1.5rem;
  
}


.fb a:hover{
  background: white;
  color: blue;
}

.insta{
  width: 50vw;
  position: relative;
  left:1.5rem;
  align-items: center;
 
  
}

.insta a:hover{
 
  background: white;
  
  color: #E327DF;
}

@keyframes Age {
  from{
    font-size: 2.6rem;
  }
  to{
    font-size: 4.6rem;
  }
}

@media(max-width:998px) {
  html{
    font-size:55%;
    }
  }

@media(max-width:768px) {
  html{
    font-size: 45%;
  }
}

